.header{
  display:flex;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5)
}
.movie-container{
  display:flex;
  justify-content: center;
  margin-top:24px;
  flex-direction: column;
}



.movie-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width:80%;
    max-width:350px;
    max-height:350px;
    border:2px solid black;
    border-radius:4px;
    padding:16px;
    margin:16px;
}

.movie-title{
  font-weight:bold;
  font-size:16px;
}
.movie-poster-container{
  width:100px;
  height:150px;
  margin:8px;
}

.movie-poster-container > img{
    width:100%;
    height:100%;
}

.movie-subtitle{
  font-size:12px;
  
}

.movie-description{
  font-size:14px;
  font-weight:600;
  max-width:85%;
}
.movie-rating{
  font-size: 12px;
}

.rating{
  font-size: 12px;
  font-weight:bold;
  margin-right:4px;
}

@media only screen and (min-width:768px){
  .movie-container{
   
    flex-direction: row;
  }
  
}

